  body {
    margin: 0;
    padding: 0;
  }

  .buddy1 {
  color: rgb(246,225,85);
  text-decoration: none;
  cursor: auto;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Baskerville', serif;
  padding-bottom: 10px;
  margin: 0;
  background: rgb(24,44,62);
  }

  .border {
    border-top: 15px solid rgb(171,47,144);
    border-bottom: 15px solid rgb(171,47,144);
  }
  
  footer {
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: rgb(24,44,62);
    padding: 20px;
    font-weight: lighter;
    border-bottom: 20px solid rgb(200,56,37);
  }

  .stripe {
    border-bottom: 30px double rgb(246,225,85);
    margin-bottom: 1px;
  }

 